alias cat='bat'
alias tping='ping -c 3 8.8.8.8'
# This should be moved to bash functions
# alias set_proxy='function _() { export http_proxy=http://$1/;export https_proxy=https://$1/; }; _'
alias clear-proxy='export http_proxy="" && export https_proxy=""'
alias getip='printf "   Local: "; ifconfig -l | xargs -n1 ipconfig getifaddr; printf "External: "; curl whatismyip.akamai.com'
[ "$TERM" = "xterm-kitty" ] && alias ssh="kitty +kitten ssh"

source ~/.local-conf
